<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hello | Home</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
    <body>
        <div class="home">
            <div th:replace="header :: header"></div>


            <div class="container">
                <div>
                    <h3>Please select the airport from the list:</h3>
                </div>
                <h5 th:text="${msg}"></h5>
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Airport</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Code</th>
                    </thead>
                    <tbody>
                        <tr th:each="a : ${myAirports}">
                            <td th:text="${a.id}"></td>
                            <td>
                                <a th:href="@{/selected/} + ${a.id}" th:text="${a.name}"></a>
                            </td>
                            <td th:text="${a.country}"></td>
                            <td th:text="${a.city}"></td>
                            <td th:text="${a.iata}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pages">
                    Total Items: <span th:text="${totalItems}"></span>
                    <a th:if="${currentPage > 1}" th:href="@{/home/page/1}" th:text="First">First</a>

                    <a th:if="${currentPage > 1}" th:href="@{/home/page/} + ${currentPage - 1}">Previous</a>

                    <a th:if="${currentPage > 2}" th:href="@{/home/page/} + ${currentPage - 2}">[[${currentPage - 2}]]</a>
                    &nbsp;
                    <a th:if="${currentPage > 1}" th:href="@{/home/page/} + ${currentPage - 1}">[[${currentPage - 1}]]</a>
                    &nbsp;
                    <a th:href="@{/home/page/} + ${currentPage}" th:text="'Curent ' + ${currentPage}"></a>
                    &nbsp;
                    <a th:if="${currentPage < totalPages}" th:href="@{/home/page/} + ${currentPage + 1}">[[${currentPage + 1}]]</a>
                    &nbsp;
                    <a th:if="${currentPage < totalPages and totalPages > 2}" th:href="@{/home/page/} + ${currentPage + 2}">[[${currentPage + 2}]]</a>

                    <a th:if="${currentPage < totalPages}" th:href="@{/home/page/} + ${currentPage + 1}" th:text="Next"></a>

                    <a th:if="${currentPage < totalPages}" th:href="@{/home/page/} + ${totalPages}" th:text="Last"></a>
                </div>
            </div>

            <div th:replace="footer :: footer"></div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
