<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Selected airport</title>

    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" th:href="@{/styles/selected.css}">
</head>
    <body>
        <div class="home">
            <div th:replace="header :: header"></div>

            <div class="container-1">
                <div class="box-1">
                    <div>
                        <h2>You selected this airport:</h2>
                    </div>

                    <table>
                        <thead>
                        <th>ID</th>
                        <th>Airport</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Code</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${airport.id}"></td>
                            <td th:text="${airport.name}"></td>
                            <td th:text="${airport.country}"></td>
                            <td th:text="${airport.city}"></td>
                            <td th:text="${airport.iata}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-2">
                    <div class="col-md-6 mt-2">
                        <form th:action="@{/filteredselected/} + ${airport.id}" method="post" th:object="${dates}">
                            <div class="form-group">
                                <p><h3>Filter flights by date</h3></p>
                            </div>
                            <div class="form-group">
                                <label for="startDate">From:</label>
                                <input type="datetime-local" required id="startDate" th:field="*{startDateString}" autocomplete="off" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="endDate">Till:</label>
                                <input type="datetime-local" required id="endDate" th:field="*{endDateString}" autocomplete="off" class="form-control"/>
                            </div>
                            <button class="btn btn-primary" type="submit">Filter</button>
                            <a th:href="@{/selected/} + ${airport.id}" class="btn btn-primary" >Clear filter</a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div>
                    <h3>Departure flights:</h3>
                </div>
                <table>
                    <thead>
                    <th>Flight Number</th>
                    <th>Departure Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Time</th>
                    <th>Airline company</th>
                    <th sec:authorize="isAuthenticated()">Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="f : ${departureFlights}">
                        <td th:text="${f.flightNo}"></td>
                        <td th:text="${f.departureAirport.getName()}"></td>
                        <td th:text="${f.departure}"></td>
                        <td th:text="${f.arrivalAirport.getName()}"></td>
                        <td th:text="${f.arrival}"></td>
                        <td th:text="${f.airline.getName()}"></td>
                        <td sec:authorize="isAuthenticated()">
                            <a th:href="@{/flights/} + ${f.id}" ><i class="far fa-edit"></i></a>
                        </td>
                        <td sec:authorize="isAuthenticated()">
                            <a th:href="@{/flights/deleted/} + ${f.id}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <div>
                    <h3>Arrival flights:</h3>
                </div>
                <table>
                    <thead>
                    <th>Flight Number</th>
                    <th>Departure Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Time</th>
                    <th>Airline company</th>
                    <th sec:authorize="isAuthenticated()">Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="f : ${arrivalFlights}">
                        <td th:text="${f.flightNo}"></td>
                        <td th:text="${f.departureAirport.getName()}"></td>
                        <td th:text="${f.departure}"></td>
                        <td th:text="${f.arrivalAirport.getName()}"></td>
                        <td th:text="${f.arrival}"></td>
                        <td th:text="${f.airline.getName()}"></td>
                        <td sec:authorize="isAuthenticated()">
                            <a th:href="@{/flights/} + ${f.id}"><i class="far fa-edit"></i></a>
                        </td>
                        <td sec:authorize="isAuthenticated()">
                            <a th:href="@{/flights/deleted/} + ${f.id}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:replace="footer :: footer"></div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
