.navbar {
    background-color: rgba(102, 178, 255, 0.7);
}

.body {
    min-height: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(102, 178, 255, 0.7);
  color: white;
  text-align: center;
}

.home {
    height: 100vh;
    background: url('img/bg-blue.jpg') no-repeat center center / cover;
}